In [152]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [154]:
data = pd.read_csv('logs\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
321,tt1230414,85000000,219103655,It's Complicated,Meryl Streep|Alec Baldwin|Steve Martin|Lake Be...,Nancy Meyers,First comes marriage. Then comes divorce. And ...,"Ten years after their divorce, Jane and Jake A...",121,Comedy|Romance,Universal Pictures|Scott Rudin Productions|Wav...,12/23/2009,6.2,2009
1461,tt0414993,35000000,15304890,The Fountain,Hugh Jackman|Rachel Weisz|Ellen Burstyn|Mark M...,Darren Aronofsky,Death is the road to awe,"Spanning over one thousand years, and three pa...",96,Drama|Adventure|Science Fiction|Romance,Regency Enterprises|Warner Bros.|Muse Entertai...,9/6/2006,6.7,2006
1165,tt0289635,6400000,2500000,Young Adam,Ewan McGregor|Tilda Swinton|Peter Mullan|Emily...,David Mackenzie,Everyone has a past. Everyone has a secret.,A young drifter working on a river barge disru...,93,Drama|Thriller|Crime|Romance,Recorded Picture Company (RPC),9/26/2003,5.9,2003
1475,tt0397078,28000000,38159905,Just My Luck,Lindsay Lohan|Samaire Armstrong|Chris Pine|Mis...,Donald Petrie,Everything changed in the wink of an eye.,Manhattanite Ashley is known to many as the lu...,103,Comedy|Drama|Family|Fantasy|Romance,Regency Enterprises|Cheyenne Enterprises|New R...,5/12/2006,5.7,2006
20,tt1964418,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,6.2,2015

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [36]:
data.describe(include = ['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1889,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624,1435
top,tt0469623,Fantastic Four,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Steven Soderbergh,Based on a true story.,When the sky really is falling and sanity has ...,Comedy,New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

# Предобработка

In [164]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [138]:
# add column "profit"
#data.profit = data.revenue - data.budget
data['profit'] = data['revenue']-data['budget']

In [81]:
# explode genres
data_genres = data.copy()
data_genres['genres_list'] = data_genres['genres'].str.split('|')
data_genres = data_genres.explode('genres_list')
#data_genres.sample(5)

In [82]:
#explode directors
data_dir = data.copy()
#data_dir=data['director'].str.cat(sep='|').split('|')
data_dir['director_list']=data_dir['director'].str.split('|')
data_dir = data_dir.explode('director_list')
#data_dir.sample(5)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [165]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [19]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget==data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [166]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [12]:
data.original_title[data.runtime==data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [167]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [14]:
data.original_title[data.runtime==data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [168]:
answers['4'] = '2. 110'
# +

In [20]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [169]:
answers['5'] = '1. 107'
# +

In [16]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [170]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [53]:
data.original_title[data.profit==data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [171]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [54]:
data.original_title[data.profit==data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [172]:
answers['8'] = '1. 1478'
# +

In [38]:
data.original_title[data.revenue > data.budget].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [173]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [45]:
rev_max = data[data.release_year==2008].revenue.max()
data[data.revenue==rev_max].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [174]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [55]:
profit_min = data[(data.release_year>=2012)&(data.release_year<=2014)].profit.min()
data[data.profit==profit_min].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [175]:
answers['11'] = '3. Drama'
# +

In [71]:
data_genres['genres_list'].value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

ВАРИАНТ 2

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [176]:
answers['12'] = '1. Drama'
# +

In [64]:
data_prof = data_genres[(data_genres.profit > 0)]
data_prof1 = data_prof['genres_list']
data_prof1 .value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [177]:
answers['13'] = '5. Peter Jackson'
# +

In [100]:
data_dir.groupby(['director_list'])['revenue'].sum().sort_values(ascending = False).head()

director_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [178]:
answers['14'] = '3. Robert Rodriguez'
# +

In [86]:
act = data[data.genres.str.contains('Action')].copy()
act['director'] = act['director'].str.split('|')
act = act.explode('director')
act.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Chris Miller          1
Rod Lurie             1
Luke Greenfield       1
Terry Gilliam         1
Adam McKay            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [179]:
answers['15'] = '3. Chris Hemsworth'
# +

In [92]:
data_cast = data[(data.release_year == 2012)].copy()
data_cast['cast'] = data_cast['cast'].str.split('|')
data_cast = data_cast.explode('cast')
data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [180]:
answers['16'] = '3. Matt Damon'
# +

In [104]:
result = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
print(result)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [181]:
answers['17'] = '2. Action'
# +

In [113]:
data_cast = data.copy()
data_cast['cast'] = data_cast['cast'].str.split('|')
data_cast = data_cast.explode('cast')
data_cast = data_cast[data_cast.cast == 'Nicolas Cage']

data_cast['genres'] = data_cast['genres'].str.split('|')
data_cast_genres = data_cast.explode('genres')
result = data_cast_genres.genres.value_counts()
display(result)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [182]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [116]:
data4 = data[data.production_companies.str.contains("Paramount Pictures")]
data4[data4['profit'] == data4['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [183]:
answers['19'] = '5. 2015'
# +

In [143]:
display(data.groupby('release_year')['revenue'].sum().sort_values(ascending=False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [184]:
answers['20'] = '1. 2014'
# +

In [142]:
data6 = data[data.production_companies.str.contains("Warner Bros")]
display(data6.groupby('release_year')['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [185]:
answers['21'] = '4. Сентябрь'
# +

In [121]:
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: int(x[0])) 
numbers_months =  data.month.value_counts()
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}
print(months[numbers_months.index[0]])

Сентябрь

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [186]:
answers['22'] = '2. 450'
# +

In [136]:
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data7 = data.loc[(data.month=='6') | (data.month=='7') | (data.month=='8')]
data7.original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [187]:
answers['23'] = '5. Peter Jackson'
# +

In [130]:
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data8 = data.loc[(data.month=='1') | (data.month=='2') | (data.month=='12')]
grouped = data8.groupby(['director'])['original_title'].count().sort_values(ascending=False)
display(grouped)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [188]:
answers['24'] = '5. Four By Two Productions'
# +

In [145]:
data['production_companies'] = data['production_companies'].apply(lambda x: x.split(sep = '|'))
data= data.explode('production_companies')
data['lenght'] = data['original_title'].apply(lambda x: len(x))
prod_comp = data.groupby(['production_companies'])['lenght'].max().sort_values(ascending=False)
display(prod_comp)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: lenght, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [189]:
answers['25'] = '3. Midnight Picture Show'
# +

In [146]:
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data['overview_len'] = data['overview'].apply(lambda x: x.split()).apply(len)
data = data.explode('production_companies').groupby('production_companies').overview_len.mean()
data[data == data.max()]

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [190]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [161]:
best = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= best]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,pairs
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,"(Amy Poehler, Phyllis Smith)"
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,"(Amy Poehler, Richard Kind)"
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,"(Amy Poehler, Bill Hader)"
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,"(Amy Poehler, Lewis Black)"
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,"(Phyllis Smith, Richard Kind)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,"(Carrie-Anne Moss, Mark Boone Junior)"
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,"(Carrie-Anne Moss, Russ Fega)"
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,"(Joe Pantoliano, Mark Boone Junior)"
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,"(Joe Pantoliano, Russ Fega)"
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,"(Mark Boone Junior, Russ Fega)"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [191]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [155]:

data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [192]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [193]:
# и убедиться что ни чего не пропустил)
len(answers)

27